#header {
    line-height: 112px;
}
#header .container{
    display: flex;
    height: 112px;
    justify-content: space-between;
}

#header .container ul {
    display: flex;
    gap: 3rem;
    font-size: 1.3rem;
}

#header .container ul>li {
    position: relative;
}

#header .container ul>li:hover {
    color: #17633d;
}

#header .container ul>li>ul {
    position: absolute;
    left: -50px;
    width: 1200px;
    line-height: 2.5rem;
    font-size: 1rem;
    gap: 2rem;
    visibility: hidden;
    text-align: left;
    color: white;
    background: transparent;
    z-index: 999;
}

#header .container ul>li:hover>ul {
    visibility: visible;
}

#header .container ul>li>ul>li:hover {
    color: white;
}
#header .container button {
    background: transparent;
    border: none;
}

#header .container button i {
    font-size: 2.5rem;
    align-items: center;
}

#MainSlider {
    position: relative;
}

#MainSlider div {
    width: 100%;
    height: 600px;
}

#MainSlider .Slider1 {
    background: url('../img/MainSlider1.png') no-repeat center center/cover;
}

#MainSlider .Slider2 {
    background: url('../img/MainSlider2.png') no-repeat center center/cover;
}

#MainSlider .Slider3 {
    background: url('../img/MainSlider3.png') no-repeat center center/cover;
}

#MainSlider .Slider4 {
    background: url('../img/MainSlider4.png') no-repeat center center/cover;
}

#MainSlider .Slider5 {
    background: url('../img/MainSlider5.png') no-repeat center center/cover;
}

#MainSlider .Slider6 {
    background: url('../img/MainSlider6.png') no-repeat center center/cover;
}

#MainSlider .Slider7 {
    background: url('../img/MainSlider7.jpg') no-repeat center center/cover;
}

#MainSlider .Slider8 {
    background: url('../img/MainSlider8.jpg') no-repeat center center/cover;
}

#MainSlider .slick-dots {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    gap: 1rem;
}

#MainSlider .slick-dots li {
    font-size: 0;
}

#MainSlider .slick-dots li button {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}

#MainSlider .slick-dots .slick-active>button {
    background: #ffff00;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
}

#Item .container {
}

#Item .Item-slider div{
    height: 480px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    
    #header .container .nav {
        display: none;
    }

    #MainSlider {
        width: 100%;
    }

    #MainSlider .Slider1 {
        background: url('../img/MainSlider1_responsive.png') no-repeat center center/cover;
    }

    #MainSlider .Slider2 {
        background: url('../img/MainSlider2_responsive.png') no-repeat center center/cover;
    }

    #MainSlider .Slider3 {
        background: url('../img/MainSlider3_responsive.png') no-repeat center center/cover;
    }

    #MainSlider .Slider4 {
        background: url('../img/MainSlider4_responsive.png') no-repeat center center/cover;
    }

    #MainSlider .Slider5 {
        background: url('../img/MainSlider5_responsive.png') no-repeat center center/cover;
    }

    #MainSlider .Slider6 {
        background: url('../img/MainSlider6_responsive.png') no-repeat center center/cover;
    }g

    #MainSlider .Slider7 {
        background: url('../img/MainSlider7_responsive.jpg') no-repeat center center/cover;
    }

    #MainSlider .Slider8 {
        background: url('../img/MainSlider8_responsive.jpg') no-repeat center center/cover;
    }
}